BOR_WS/Connected Services/MOB/Mob.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MobCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MobCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MobCheckResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="responseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="responseMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERIFICATION_RESULT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MobCheckSoapIn">
    <wsdl:part name="parameters" element="tns:MobCheck" />
  </wsdl:message>
  <wsdl:message name="MobCheckSoapOut">
    <wsdl:part name="parameters" element="tns:MobCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="MobSoap">
    <wsdl:operation name="MobCheck">
      <wsdl:input message="tns:MobCheckSoapIn" />
      <wsdl:output message="tns:MobCheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobSoap" type="tns:MobSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobCheck">
      <soap:operation soapAction="http://tempuri.org/MobCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MobSoap12" type="tns:MobSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobCheck">
      <soap12:operation soapAction="http://tempuri.org/MobCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mob">
    <wsdl:port name="MobSoap" binding="tns:MobSoap">
      <soap:address location="http://10.10.1.100/MobWS/Mob.asmx" />
    </wsdl:port>
    <wsdl:port name="MobSoap12" binding="tns:MobSoap12">
      <soap12:address location="http://10.10.1.100/MobWS/Mob.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>